body {
  font-size: 16px;
  color: #fff;
  background-color:auto ;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color:auto ;
  border-radius: 0;
  border: 0;
  height: auto;
}
#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 10px;
}


.navbar-brand{
  padding:5px;
}
.navbar-brand h1{ 
  text-align:center;
  font-family: 'Lora', serif;
  
  font-weight: normal !important;

}
#dif-font{
  font-family: 'Sriracha', cursive;
  font-weight: normal !important;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  font-family: 'Piedra', cursive;
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 25px;
 /* position:relative;
  left:300px;*/
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;

}
#collapsable-nav a{
  font-size:1.2em;
}
#collapsable-nav a span{
  font-size:1em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: black;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  

}
#call-btn>span {
 font-size:60px!important;
  }
  /* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #ac6839;
  border-top: 0;
  background-size: cover;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > .main, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */


/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url("../images/orders.jpg") no-repeat;
  height: 300px;
  background-position: center;
}
#specials-tile {
  background: url("../images/varieties.jpg") no-repeat;
  background-position: center;
  height: 300px;
}
#map-tile {
  
  background-position: center;
  height: 300px;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  text-align: center;
  font-size: 1.6em;
  font-color:black;
  
 
  opacity: .8;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/ourgarden_1200.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
  }
  .navbar-brand h1{ 
    position:relative;
  left:150px;
  font-size: 60px;


}
.navbar-brand p{
  position:relative;
  left:150px;
}

}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand {
  
 float:left;
}

  .navbar-brand h1{ 
font-size: 50px;
margin left:20px;

}


  /* Header */
  /*#logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }*/
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/ourgarden_1200.jpg') no-repeat;
    background-size: cover;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/ourgarden_1200.jpg') no-repeat;
    background-size: cover;
    height: 432px;
  }
  
  /* End Home Page */
  .navbar-brand h1{ 
font-size: 30px;
float:left;
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
    background-color:#ac6839; 
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    float:left;
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

}


#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  .row{
    
    text-align: center
  }
  .row > div {
    background-color:#FFFFFF;
    margin:0;
    padding:0;

  }

